@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#141414] h-full overflow-x-hidden select-none;
}

html {
  @apply h-full;
}

.swiper {
  overflow: visible !important;
}
.swiper-visible {
  background-color: #4d4d4d;
}
.swiper-pagination {
  z-index: 0;
  position: absolute;
  top: -8px;
  right: 0;
  display: flex;
  gap: 1px;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: #4d4d4d;
  width: 12px;
  height: 2px;
}

.swiper-pagination-bullet-active {
  background-color: #aaa;
}
